<!-- Footer Section -->
<footer id="social">
    <div class="footer-items">
        <div class="main-options">
            <div class="footer-text"><a href="#home">HOME</a></div>
            <div class="footer-text"><a href="#about">ABOUT</a></div>
            <div class="footer-text"><a href="#features">FEATURES</a></div>
            <div class="footer-text"><a href="categories">CATEGORIES</a></div>
            <div class="footer-text"><a href="#contact">CONTACT</a></div>
        </div>
        <div class="maps">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.2768209328583!2d-79.58823998423664!3d43.62159706249111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b387598e7a02d%3A0xbab871790c843c93!2s3310%20Fieldgate%20Dr%2C%20Mississauga%2C%20ON%20L4X%202J1!5e0!3m2!1sen!2sca!4v1650287622911!5m2!1sen!2sca"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="copyright">
            Copyright © 2022 Craftilus. All rights reserved.
        </div>
        <div class="social-icons-container">
            <h3 id="social-heading">You can find us at</h3>
            <a href="https://www.facebook.com" target="_blank"><img class="social-icons"
                    src="/assets/images/social-icons/facebook.png"></a>
            <a href="https://www.instagram.com" class="instagram" target="_blank"><img class="social-icons"
                    src="/assets/images/social-icons/instagram.png"></a>
            <a href="https://www.twitter.com" class="twitter" target="_blank"><img class="social-icons"
                    src="/assets/images/social-icons/twitter.png"></a>
        </div>
    </div>
</footer>