<header>
  <meta name="keywords" content=" Crafts, Handmade, original, DIY, Painting, Acrylic, Arts">
  <meta name="description" content="The true craft sharing platform">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/assets/images/craftilus-Icon.png">
  
  <title>
    {{title}}
  </title>
</header>
    <!-- navigation menus -->
    <div class="page-header">
      <div class=main-header-logo>
          <img class="craft" src="/assets/images/craftilus-logo.png">
      </div>
      <div class="nav-menu-bar">
          <div class="nav-menu-bar-text"><a href="#home">HOME</a></div>
          <div class="nav-menu-bar-text"><a href="#about">ABOUT</a></div>
          <div class="nav-menu-bar-text"><a href="#features">FEATURES</a></div>
          <div class="nav-menu-bar-text">
              <a href="categories">
                  CATEGORIES
              </a>
          </div>
          <div class="nav-menu-bar-text"><a href="#contact">CONTACT</a></div>
      </div>
  </div>
<router-outlet></router-outlet>
