/* Added font family in the body section which is imported in HTML */
body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-image: url('/assets/images/background-network-image/background-image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*................................ slideshow section................... */
.slideshow-container {
    position: relative;
    margin: 20px;
}

.mySlides {
    display: none
}

.mySlides img {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.text {
    color: #ffffff;
    font-size: 20px;
    margin: 20px;
    position: absolute;
    bottom: 21px;
    width: 50%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Merriweather', serif;
    line-height: 2;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #d3d3d4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #F16028;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*................................ about section................... */
.about-text-image-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    text-align: justify;
    width: 100%;
    padding-right: 20px;
    height: 100%;
    border-right: 4px solid #FFA500;
    font-family: 'Merriweather', serif;
    line-height: 2;
    font-size: 15px;
    font-weight: 600;
    background-color: #ffffff;
}

.about-photo {
    padding-left: 20px
}

.about-img {
    width: 100%;
    outline: 2px solid black;
    max-height: 500px;
    box-shadow: 4px 1px 20px 15px #D3D3D3;
}

.download-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.download-img {
    width: 70%;
    cursor: pointer;
    box-shadow: 2px 2px 20px 11px #d3d3d3;
    border-radius: 5px;
}

.download-img:hover {
    transform: scale(1.2);
}

/*................................ gallery section................... */
#gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.gallery-section {
    width: 23%;
}

.gallery-images {
    max-width: 100%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.gallery-images:hover {
    transform: scale(1.2);
}

/*................................ features section................... */
#features {
    margin-top: 60px;
}

.feature-head {
    text-align: center;
    margin-bottom: 40px;
}

.contact-sub-title {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: justify;
    font-family: 'Merriweather', serif;
    line-height: 2;
    font-size: 15px;
    font-weight: 600;
    background-color: #ffffff;
}

.feature-container {
    display: flex;
    justify-content: space-between;
}

.features-image-section {
    width: 100%;
    text-align: center;
    display: flex;
}

.feature-mockup-container {
    width: 100%;
}

.feature-mockup-container:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1.2) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
}

.feature-mockup-image1 {
    max-width: 80%;
}

.feature-mockup-image2 {
    max-width: 100%;
}

.feature-mockup-image3 {
    max-width: 80%;
}

.main-feature-content {
    width: 100%;
    text-align: justify;
    margin-left: 20px;
}

.main-features-list {
    display: flex;
    justify-content: space-between;
}

.feature-items {
    padding: 20px;
}

.feature-image {
    max-width: 100%;
}

.feature-list-text {
    text-align: center;
    background-color: #CF737F;
    box-sizing: content-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    width: 160px;
    height: 60px;
    padding: 10px;
    color: #ffffff;
    border-radius: 20px;
}

/*................................ contact section................... */
#contact {
    margin-top: 60px;
}

.main-contact-container {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #d3d3d4;
}

.contact-form {
    width: 80%;
    padding: 60px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #FFA500;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #F16028;
}

.info-container {
    width: 30%;
    background-color: #9ACD32;
}

.info-icons-text {
    width: 100%;
    background-color: black;
    margin-top: 200px;
    padding: 10px;
    outline: 40px solid black;
}

.info-heading {
    text-align: center;
    color: #ffffff;
}

.icon-text {
    display: flex;
    margin-bottom: 20px;
}

.info-img-container {
    width: 30%
}

.info-icon {
    width: 40%;
    margin-left: 16px;
}

.info-text {
    margin-top: 3px;
    color: #ffffff;
    font-size: 18px;
}

.info-text a {
    text-decoration: none;
    color: #ffffff;
}

.address {
    line-height: 2;
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 700px) {

    .prev,
    .next,
    .text {
        font-size: 8px;
    }

    .about-text-image-section {
        flex-wrap: wrap;
    }

    .about-photo {
        border-left: 0;
    }

    .about-text {
        border-right: 0;
    }

    .about-img {
        padding: 10px
    }

    .icon-text {
        flex-wrap: wrap;
    }

    .info-text {
        font-size: 14px;
    }

    .feature-image {
        max-width: 70%;
    }


    .main-options a {
        font-size: 8px;
    }

    html,
    body {
        margin: 0;
        padding: 0;
    }

    .page-header {
        flex-wrap: wrap;
        margin-top: 5px;
    }

    .nav-menu-bar {
        flex-wrap: wrap;
    }

    .nav-menu-bar-text a {
        font-size: 12px;
        padding: 5px;
    }

    .main-features-list {
        flex-wrap: wrap;
    }

    .feature-list-text {
        margin: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .info-text a {
        font-size: 12px;
    }

    .address {
        font-size: 12px;
    }

    .feature-container {
        flex-wrap: wrap;
    }

    .download-buttons {
        flex-wrap: wrap;
    }
}