<body>
    <!-- slider -->
    <div id="home" class="slideshow-container">
        <div class="mySlides fade">
            <div class="numbertext">1 / 4</div>
            <img src="/assets/images/slider/craft-slideshow1.png" style="width:100%">
            <div class="text">Perfect eCommerce website to buy and sell your crafts. Sell your painting hassle-free on
                Craftilus.
            </div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">2 / 4</div>
            <img src="/assets/images/slider/craft-slideshow2.png" style="width:100%">
            <div class="text">Candles, knits, or even paintings you can always sell on Craftilus.
            </div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <img src="/assets/images/slider/craft-slideshow3.png" style="width:100%">
            <div class="text">Love is nothing if you don’t express it. You can always send a gift to your loved ones
                using
                Craftilus.
            </div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">4 / 4</div>
            <img src="/assets/images/slider/craft-slideshow4.png" style="width:100%">
            <div class="text">Want to learn new ideas? Use the DIY platform to learn more.
            </div>
        </div>
        <a class="prev" (click)='plusSlides(-1)'>&#10094;</a>
        <a class="next" (click)='plusSlides(1)'>&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot" (click)="currentSlide(1)"></span>
        <span class="dot" (click)="currentSlide(2)"></span>
        <span class="dot" (click)="currentSlide(3)"></span>
        <span class="dot" (click)="currentSlide(4)"></span>
    </div>

    <!-- about -->
    <div id="about">
        <h1>About</h1>
        <div class="about-text-image-section">
            <div class="about-text">
                <p>Do you do crafts? Have you ever wondered whether you could sell your crafts somewhere?
                    Craftilus is a one-stop solution for all your craft-related problems. It is a unique platform where
                    you can
                    buy/sell crafts,
                    and craft accessories, learn a new craft, or even collect your craft posts. It has hundreds of
                    categories of
                    crafts and thousands
                    of DIY crafting ideas. Share your ideas with your friends and have unlimited fun. Craftilus also
                    provides a
                    delivery service where
                    you can just book your delivery driver just like you book your uber ride. Did it sound like
                    something useful
                    to you? Don’t
                    waste your time.
                    Download the app right away using the links given below.
                </p>
                <div class="download-buttons">
                    <div class="download-icon-play-store">
                        <a href="https://play.google.com/store/apps" target="_blank"><img class="download-img"
                                src="/assets/images/download-icons/google-play.png"></a>
                    </div>
                    <div class="download-icon-apple">
                        <a href="https://www.apple.com/ca/store" target="_blank"><img class="download-img"
                                src="/assets/images/download-icons/app-store.png"></a>
                    </div>
                </div>

            </div>
            <div class="about-photo">
                <img class="about-img" src="/assets/images/about.jpg">
            </div>
        </div>
    </div>

    <!-- Gallery Section -->
    <div id="gallery">
        <div class="gallery-section">
            <img class="gallery-images" src="/assets/images/gallery/gallery2.jpg" alt="gallery image2 display">
        </div>
        <div class="gallery-section">
            <img class="gallery-images" src="/assets/images/gallery/gallery1.jpg" alt="gallery image1 display">
        </div>
        <div class="gallery-section">
            <img class="gallery-images" src="/assets/images/gallery/gallery3.jpg" alt="gallery image3 display">
        </div>
        <div class="gallery-section">
            <img class="gallery-images" src="/assets/images/gallery/gallery4.jpg" alt="gallery image4 display">
        </div>
    </div>


    <!-- features -->

    <div id="features">
        <div class="feature-head">
            <h1>Main Features Of Our App</h1>
        </div>
        <div class="contact-sub-title">
            Craftilus has several paid and free services that you can use to make money out of your craftwork.
            It has all possible categories of craft. So, it doesn’t matter what type of craft you do.
            It is always possible to use Craftilus to make money.
            Do you have cool ideas to share with your friends? You are in the right place. Check our features out.
        </div>
        <div class="feature-container">
            <div class="features-image-section">
                <div class="feature-mockup-container">
                    <img class="feature-mockup-image1" src="/assets/images/features/mockup-diy.png"
                        alt="diy mockup display">
                </div>
                <div class="feature-mockup-container">
                    <img class="feature-mockup-image2" src="/assets/images/features/mockup-sell.png"
                        alt="buy/sell mockup display">
                </div>
                <div class="feature-mockup-container">
                    <img class="feature-mockup-image3" src="/assets/images/features/mockup-pin.png"
                        alt="pin graphics display">
                </div>
            </div>

            <div class="main-feature-content">
                <div class="main-features-list">
                    <div class="feature-items">
                        <img class="feature-image" src="/assets/images/features/pottery.png"
                            alt="buy/sell graphics display">
                        <div class="feature-list-text">
                            Build your shop.
                        </div>
                    </div>
                    <div class="feature-items">
                        <img class="feature-image" src="/assets/images/features/presentation.png"
                            alt="diy tutorial graphics display">
                        <div class="feature-list-text">
                            Your guide and a platform to share.
                        </div>
                    </div>
                    <div class="feature-items">
                        <img class="feature-image" src="/assets/images/features/crafts.png"
                            alt="crafts graphics display">
                        <div class="feature-list-text">
                            Save your favorite crafts.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- contact -->
    <div id="contact">
        <div class="main-contact-container">
            <div class="contact-form">
                <div class="contact-title">
                    <h1>Contact Us</h1>
                </div>
                <div class="contact-sub-title">
                    Feel free to contact us any time. We will get back to you as soon as we can!
                </div>
                <div>
                    <label for="name">Name</label>
                </div>
                <div>
                    <input type="text" id="name" name="name" placeholder="Your name..">
                </div>
                <div>
                    <label for="country">Country</label>
                </div>
                <div>
                    <select id="country" name="country">
                        <option value="canada">Canada</option>
                        <option value="australia">USA</option>
                        <option value="usa">India</option>
                    </select>
                </div>
                <div>
                    <label for="message">Message</label>
                </div>
                <div>
                    <textarea id="message" name="message" placeholder="Your feedback is important to us......."
                        style="height:200px"></textarea>
                </div>
                <input type="submit" (click)="submit()" value="SEND">
            </div>

            <div class="info-container">
                <div class="info-icons-text">
                    <div class="info-heading">
                        <h2>Info</h2>
                    </div>
                    <div class="icon-text">
                        <div class="info-img-container">
                            <img class="info-icon" src="/assets/images/info-icons/email.png" alt="Mail icon display">
                        </div>
                        <div class="info-text">
                            <a href="mailto:info@craftilus.com">info@craftilus.com</a>
                        </div>
                    </div>

                    <div class="icon-text">
                        <div class="info-img-container">
                            <img class="info-icon" src="/assets/images/info-icons/phone.png"
                                alt="Phone number icon display">
                        </div>
                        <div class="info-text">
                            <a href="tel:+4373295264">+(437)-329-5264</a>
                        </div>
                    </div>
                    <div class="icon-text">
                        <div class="info-img-container">
                            <img class="info-icon" src="/assets/images/info-icons/location.png"
                                alt="Location icon display">
                        </div>
                        <div class="info-text address">
                            3310 fieldgate dr <br>
                            Mississauga <br>
                            Ontario, L4X2J1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>